@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px 10%;
}

li,a{
    font-family: "Montserrat",
    sans-serif;
    font-weight:500;
    font-size:16px;
    color:#edf0f1;
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav-list li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-list li a {
    transition: all 0.3s ease 0s;
}

.nav-list li a:hover {
    color: #0088a9;
}