@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

:root{
  font-size:16px;
  font-family:"Montserrat";
  --background-primary:#24252A;
  --background-secondary:#323232;
  --color-primary:#ff1e56;
  --color-secondary:#ffac41;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--background-primary);
}

header{
  background-color: var(--background-secondary);
}

.navbar{

}

.navbar-nav{
  padding:5rem;
  display:flex;
  flex-direction:row;
  list-style: none;
  text-align:center;
  justify-content:flex-end;
  width:100vw;
}

.logo{
  margin-right:auto;
  letter-spacing: 0.3ch;
}

.logo-text{
  color:var(--color-primary);
  font-size:2rem;

}

.logo a{
  text-decoration: none;
}

.nav-item{
  margin:1rem;
  font-size:1.2rem;
}

.nav-link{
  display:flex;
  text-decoration: none;
  color:var(--color-secondary);
}

.nav-link:hover{
  color:var(--color-primary);
}

main{

  padding:5rem;
}

h1,h2,h3,h4,h5,h6{
  color:var(--color-secondary);
  margin-bottom: 2rem;
}

p{
  color:#fff;
}

@media only screen and (min-width:750px){

}

@media only screen and (max-width:750px){
  .navbar-nav{
    display:block;

  }
}
